- content_for :custom_js do
  = javascript_include_tag '//www.google.com/jsapi', 'chartkick'

.contener
  %h2 Youtube Analyzers CallbackPage
  .row
    .col-xs-12
      = line_chart @response['rows']

/%p=@res.body
/%p=@js_res['access_token']
%table.table
  %tr
    - @response['columnHeaders'].each do |header|
      %th= header['name']
  - @response['rows'].each do |row|
    %tr
      - row.each do |v|
        %td= v

%br
=link_to 'top', root_path
