- content_for :custom_js do
  = javascript_include_tag '//www.google.com/jsapi', 'chartkick'

.contener
  %h2 Youtube Analyzers CallbackPage
  .row
    .col-xs-12
      - views_data = @response['rows'].map {|row| [row[0], row[1]]}
      - estimatedMinutesWatched_data = @response['rows'].map {|row| [row[0], row[6]]}
      - averageViewDuration_data = @response['rows'].map {|row| [row[0], row[7]]}
      - averageViewPercentage_data = @response['rows'].map {|row| [row[0], row[8]]}
      = line_chart [ { name: 'views', data: views_data }, { name: 'estimatedMinutesWatched', data: estimatedMinutesWatched_data }, { name: 'averageViewDuration', data: averageViewDuration_data }, { name: 'averageViewPercentage', data: averageViewPercentage_data } ]
/%p=@res.body
/%p=@js_res['access_token']
%table.table
  %tr
    - @response['columnHeaders'].each do |header|
      %th= header['name']
  - @response['rows'].each do |row|
    %tr
      - row.each do |v|
        %td= v

%br
=link_to 'top', root_path
